= form_for resource, :html => {:id => "placeholders-form"} do |f|
  - tab_form(f) do
    = render_component "lolita/configuration/tab", :fields, :tab => tab_form.object.lolita.tabs.first
    .field
      - field = Lolita::Configuration::Field::Base.new(tab_form.object.lolita.dbi,:placeholders)
      = render_component "lolita/configuration/field", :label, :field => field
      = render_component "lolita/template_engine/placeholders", :grid, :placeholders => placeholders
  .clear