- content_block = tab_form.object.content_block
.content-block{:class => "active", :"data-name" => content_block.name, |
 :"data-width" => content_block.width(engine_current_layout), :"data-height" => content_block.height(engine_current_layout), |
  :style => "height:#{content_block.height(engine_current_layout)}px;width:#{content_block.width(engine_current_layout)}px"}
  = content_block.name.humanize
  = render_component "lolita/template_engine/placeholder", :nested_fields