.content-block{:class => "inactive", :"data-name" => content_block.name, |
:"data-width" => content_block.width(engine_current_layout), :"data-height" => content_block.height(engine_current_layout)} 
  = content_block.name.humanize