<div class="tabs">
  <div class="tab box first-tab" id="layouts_container">
    <div class="tab-title boxtitle black" >
    <h1>Manage layout</h1>
    <div class="arrow"></div>
  </div>
  </div>
</div>