= form_for resource do |f|
  .grid
    .placeholder{:class => "disabled", :"data-width" => 300, :"data-height"=>100, :"data-stretch" => "vertically"}
    .placeholder{:class => "enabled", :"data-width" => 300, :"data-height"=>100}
    .placeholder{:class => "enabled", :"data-width" => 400, :"data-height"=>100}
    .placeholder{:class => "disabled", :"data-width" => 200, :"data-height"=>200, :"data-stretch" => "horizontally"}
  .clear