.placeholders-grid{
  float: left;
  width: 99%;
  position: relative;
}
#new-content-blocks{
  height: 100px;
  width: 300px;
  overflow:auto;
  border: 1px solid blue;
}
#placeholders-form{

}
#placeholders-form .field{
  overflow: initial !important;
}
.placeholder{
  text-align: center;
  position: relative;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: white;
  float:left;
}
.placeholder span{
  font-weight: bold;
  position: absolute;
  color: black;
  z-index: 1;
}
.placeholder.disabled{
  background-color: #d9d9d9;
}
.content-block{
  cursor: pointer;
  z-index: 100;
}
.content-block.active{
  background-color: #a286f4;
  text-align: center;
  float:left;
}
.content-block.active span{
  font-weight: bold;
  position:relative;
  height: auto;
}
.content-block.inactive{

}

#content-blocks .inner-placeholder{
  width:0 !important;
  height:0 !important;
}
.inner-placeholder{
  background-color: red;
}