#themes-select
  - themes = [["-Themes-",nil]]
  - Lolita.themes.each{|name, theme| themes << [theme.human_name,theme.name]}
  = select_tag "current_theme", options_for_select(themes), :"data-url" => lolita_theme_content_blocks_path(:theme_id=>"-theme-")