- layout_object = LolitaLayoutConfiguration.new(:placeholder_name => placeholder.name)
= current_form.fields_for :layout_configurations, layout_object,:child_index => "new_layout_configurations" do |builder|
  - current_form(builder) do
    = render_component "lolita/template_engine/placeholder", :nested_fields